body {
  font: 16px/1.5 "Helvetica","Hiragino Sans GB","Microsoft Yahei",Arial,sans-serif; }

a {
  text-decoration: none;
  color: #31A0DF; }
.zanzhu{
  padding-left: 80px;
}
.mainListT{
    text-align:justify;
    text-align:justify-ideograph;
    font-size:16px;
    text-indent: 2em;
}
.mainListT.online{
    text-align:justify;
    text-align:justify-ideograph;
    font-size:16px;
    text-indent: 2em;
    display:inline;
}
.mainList{
    text-align:justify;
    text-align:justify-ideograph;
    font-size:16px;
    line-height:2em;
}
.mainTitle{
    font-size:18px;
    line-height:2em;
}
.mainPage{
    text-align:justify;
    text-align:justify-ideograph;
    line-height:2em;
    font-size:18px;
    text-indent: 2em;
}
.windows{
    height:20em;
}
#banner_1{
      background-image: url("../images/2.png");
      background-size:100% 100%;
}
#banner_2{
      background-image: url("../images/1.png");
      background-size:100% 100%;
}
.header .banner {
  background-repeat: no-repeat;
  background-size: auto 300px;
  background-position: center;
   min-height: 300px;}
  .header .banner .title {
    padding-top: 30px;
    color: #FFFFFF;
    font-size: 25px;
    text-shadow: 1px 2px 2px #333; }
    .header .banner .title h1 {
      margin: 0; }
.header .nav {
  background-color: #122b40;
  width:100%;
  top:0;
  position: fixed;
  z-index:999
}
  .header .nav ul {
    list-style: none;
    color: #FFFFFF;
    padding:0; 
  }
  .header .nav a {
    display: block;
    color: #CCC;
    font-size: 15px; }
    .header .nav a:hover {
      border-radius:3px 3px 3px 3px;
      background-color:#afd9ee;
      color: #000; }
  .header .nav > ul > li {
    position: relative;
    float: left;
    padding: 0;
    cursor: pointer;
    height: 60px;
    line-height: 60px; }
    .header .nav > ul > li.inactive:hover a {
      color: #999; }
  .header .nav > ul > li a {
    margin: 0 7px;
    padding: 0 6px; }
  .header .nav > ul > li:first-child a {
    margin: 0 7px;
    padding-left: 6px; }
  .header .nav li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 60px;
    width: 200px;
    padding: 0;
    background-color: #0E2C4E; }
    .header .nav li > ul li {
      line-height: normal; }
      .header .nav li > ul li a {
        padding: 10px 20px; }
  .header .nav li:hover > ul {
    display: block; }

.wrap {
  width: 85%;
  margin: 0 auto; 
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both; 
}

.footer {
  margin-top: 20px;
  text-align: center;
  border-top: solid 1px #DDD;
  color: #999;
  line-height: 40px; 
}
  .footer .footer-box {
    width: 580px;
    margin: 20px auto; }
    .footer .footer-box .organizor {
      width: 250px;
      float: left;
      line-height: 40px;
      text-align: center; }
      .footer .footer-box .organizor a {
        display: block;
        margin-left: 20px;
        background: url("../images/scu-logo.png") no-repeat left;
        background-size: 70px 50px;
        padding-left: 1px;
        line-height: 50px;
        color: #999; }
      .footer .footer-box .organizor a:hover {
        color: #31A0DF; }
    .footer .footer-box .npc {
      width: 300px;
      border-right: solid 1px #CCC;
      text-align: right;
      padding-right: 20px; }

.body {
  padding-top: 20px;
  overflow: hidden; }
  .body .intro {
    float: left;
    width: 70%; }
    .body .intro p {
      margin-top: 10px; }
    .body .intro a {
      color: #31A0DF; }
    .body .intro .dates {
      margin-top: 30px; }

dl.horizontal {
  overflow: hidden;
  margin-top: 10px; 
}
  dl.horizontal dt {
    width: 250px;
    float: left;
    clear: both;
    text-align: right;
    line-height: 2em;
  }
  dl.horizontal dd {
    margin-left: 270px; 
    line-height: 2em;
  }
img {
    border-radius:3px 3px 3px 3px;
}
.sponsors {
  float: left;
  overflow: hidden;
  width: 30%; }
  .sponsors .sponsor {
    width: 95%;
    margin: 0 20px 0 20px; }
    .sponsors .sponsor img {
          margin: 10px 0;
          width:90%;
          height:90%; }
  .sponsors .sponsor:first-child {
    margin-bottom: 15px; }

.org .col {
  width: 50%;
  float: left; }
  .org .col .committee {
    margin-bottom: 20px; }
  .org .col h2 {
    text-align: center;
    margin: 10px 0; }
  .org .col h3 {
    margin-top: 20px;
    font-size: 16px; }
  .org .col dl.horizontal dt {
    width: 200px; }
  .org .col dl.horizontal dd {
    margin-left: 220px; }

.call-for-papers {
  float: left;
  width: 730px; }

.cfp-aside {
  float: left;
  width: 250px;
  margin-left: 0; }
  .cfp-aside h2, .cfp-aside h3 {
    text-align: center; }
  .cfp-aside .dates dl dt {
    width: 200px; }
  .cfp-aside .dates dl dd {
    margin-left: 220px; }
  .cfp-aside .sponsors {
    width: 250px; }

table.past {
  width: 100%;
  border-collapse: collapse;
  text-align: center; }
  table.past tr {
    border-bottom: solid 1px #DDD; }
    table.past tr:hover {
      background-color: #DDD; }
    table.past tr:last-child {
      border-bottom: none; }
  table.past td {
    padding: 8px 0; 
  }

.past .past-item {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding-right: 20px; }
  .past .past-item span {
    font-size: 14px;
    color: #999;
    margin-left: 10px; }

.dates em {
  color: red;
  font-style: normal; }

span.required {
  color: red; }




.listblock p,.papertitle ul li p{
	display: block;
	font-size: 15px;
	line-height: 35px;
	margin-top: 18px;
	padding-left:4px;
}
.listblock span{
    color: #31A0DF ;
    font-weight:bold;
}
.listblock h1{
	line-height: 50px;
	border-bottom: 1px solid #e4e4e4;
	padding-left: 4px;
	font-size:20px;
}
.listblock .solo{
	font-size: 18px;
	margin-top: 12px;
	padding-left:4px;
	line-height: 28px;
	width: 100%;
	font-weight: normal;
	float: left;
}
.listblock .double{
	font-size: 18px;
	margin-top: 12px;
	padding-left:4px;
	line-height: 28px;
	width: 50%;
	font-weight: normal;
	float: left;
}
.listblock .trable{
	font-size: 18px;
	margin-top: 12px;
	padding-left:4px;
	line-height: 28px;
	width: 33%;
	font-weight: normal;
	float: left;
}

.listname{
	width: 998px;
	float: left;
	background-color: #FFFFFF;
	margin-left: 0px;
	padding: 5px 0 35px 0;
}
.online{
    display:inline;
}
.listname h2{
	font-size:18px;
}